.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.ImagePopup{
  border-radius: 8px;
  height: 150px;
  width: inherit;
  display: flex;
  margin: 0 auto;
  max-width: 80%;
}

.TitreDesign{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: dimgray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px 20px 20px 20px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  z-index: 5;
}



.button2 {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    width: 10vw;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button2:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}


.hidden {
  display: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#Start-button{
  height: 100px;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -50px;
}



.button:hover span:after {
  opacity: 1;
  right: 0;
}


.Form{
  text-align: left;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}



.App-header {
  background-color: #333333;
  min-height: 90vh;
  color: white;
}

.MainTitle{
  text-align: left;
  padding-left: 1vw;
  color: #ffffff;
  width: 15vw;
}

.topDiv {
  border-radius: 0px;
  border-bottom: solid 1px white;
  height: 10vh;
  display: block;
}


.mapClass{
  float: left;
  bottom: 0;
  position:absolute;
  height:90vh;
  width: 80vw;
  text-align: left;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

.topDivContainer{
  width: 100vw;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.POI-List{
  list-style-type: none;
  padding: 0;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

hr{
  background: white;
  height: 1px;
  border: 0;
}

html{
  background-color: #333333;
}

#submitButton{
    width: 15vw;
    height: 8vh;
    background-color: darksalmon;
}

.labelForm{
    width: 50px;
}

.form{
  width: 200px;
  font-size: 16px;

  padding: 30px 50px 50px 50px;

}
.form input[type=submit],
.form input[type=button],
.form input[type=text],
.form input[type=email],
.form textarea,
.form label
{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #fff;

}
.form label {
  display:block;
  margin-bottom: 10px;
}
.form label > span{
  display: inline-block;
  float: left;
  width: 150px;
}
.form input[type=text],
.form input[type=email]
{
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  outline: none;
  padding: 0px 0px 15px 15px;
  font-style: italic;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgray;
  opacity: 1; /* Firefox */
}
.form textarea{
  font-style: italic;
  padding: 20px 20px 20px 20px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  overflow: hidden;
  resize:none;

  height:20px;
}

.form textarea:focus,
.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=email] :focus
{
  border-bottom: 1px dashed #D9FFA9;
}

.form[type=submit],
.form input[type=button]{
  background: #576E86;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: #A8BACE;
}
.form input[type=submit]:hover,
.form[type=button]:hover{
  background: #394D61;
}

.sideButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  min-width: 200px;
  width: 16vw;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  overflow: hidden;
}
.sideButton h1{
  font-size: 3vh;
}

.sideButton p{
  font-size: 1.5vh;
}

.sideButton img{
  width: 30px;
  height: 30px;
}

.sideButton5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.sideButton5:hover {
  background-color: #555555;
  color: white;
}

.settingsTopDiv{
  display:inline;
}

.MainTitle2{
  border-radius: 0px;
  width: 100vw;
  background-color: #404040;
  text-align: left;
}

.rightDiv{
  float: right;
  margin: 100px;
  height: 50vh;
  background-color: #333;
}

.leftDiv{
  position: absolute;
  bottom: 0;
  left:0;
  height: 88vh;
  width: 80vw;
  background-color: lightgray;
}

.LeftDivTittle{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: left;
  color: black;
  border-bottom: solid 1px black;
}

.LeftDivContent{
  padding-bottom: 10px;
  font-weight: bold;
  text-align: left;
  color: black;
  border-bottom: solid 1px black;
  background: gray;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mostUsedCat{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  width: 80vw;
  background: #668ad8;/*ButtonColor*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.menuInput{
  width: 85%;
  height: 36px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  color: #282828;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  resize:none
}

.divLike {
  margin:0 auto;
  position: relative;
  display: inline;
  padding-left: 10px;
}

.divLike i {
  cursor:pointer;
  padding:10px 12px 8px;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s;
}

.divLike i:hover {
  color:#e23b3b;
}

.divLike i:before {
  font-family:fontawesome;
  content:'\f004';
  font-style:normal;
}

.divLike span {
  position: absolute;
  bottom:70px;
  left:0;
  right:0;
  visibility: hidden;
  transition:.6s;
  z-index:-2;
  font-size:2px;
  color:transparent;
  font-weight:400;
}

.divLike i.press {
  color:#e23b3b;
}

.divLike span.press {
  bottom:120px;
  font-size:14px;
  visibility:visible;
  animation: fade 1s;
}

@keyframes fade {
  0% {color:rgba(0,0,0,0);}
  50% {color:#e23b3b;}
  100% {color:rgba(0,0,0,0);}
}

@keyframes size {
  0% {padding:10px 12px 8px;}
  50% {padding:14px 16px 12px;
    margin-top:-4px;}
  100% {padding:10px 12px 8px;}
}

.buttonLike {
  width: 100px;
  height: 37px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: #f44336;
  border: 2px solid #f44336;
}

.buttonLikeLiked{
  width: 100px;
  height: 37px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;
}

.buttonLikeLiked:hover{
  background-color: white;
  color: #f44336;
  border: 2px solid #f44336;
}

.buttonLike:hover {
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;
}
.spanLike{
  width: 47px;
  display: inline-block;
}

.pStatus{
  border-radius: 40px;
  padding: 5px 5px;
  font-weight: bold;
}

.yellow{
  background-color: yellow;
  color:black;
}

.white{
  background-color: gray;
  color:white;
}

.green{
  background-color: green;
  color:white;
}

.red{
  background-color: red;
  color:white;
}

.Popupfieldset{
  border: none;
  background-color: white;
  resize: none;
}

.buttonSettings {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  font:11px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -ms-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -moz-background-clip: padding; /* for Firefox 3.6 */
  background-clip: padding-box;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

.buttonSettings:hover,
.buttonSettings:focus,
.buttonSettings:active,
.buttonSettings.active {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #fff;
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}

.buttonSettings:active,
.buttonSettings.active {
  border-color: #2a65a0;
  border-bottom-color: #3884cd;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
  background-image: -moz-linear-gradient(#3072b3, #599bdc);
  background-image: -ms-linear-gradient(#3072b3, #599bdc);
  background-image: -o-linear-gradient(#3072b3, #599bdc);
  background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.buttonSettings::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.buttonSettings.primary {
  font-weight: bold;
}

.buttonSettings.danger {
  color: #900;
}

.buttonSettings.danger:hover,
.buttonSettings.danger:focus,
.buttonSettings.danger:active {
  border-color: #b53f3a;
  border-bottom-color: #a0302a;
  color: #fff;
  background-color: #dc5f59;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
  background-image: -moz-linear-gradient(#dc5f59, #b33630);
  background-image: -ms-linear-gradient(#dc5f59, #b33630);
  background-image: -o-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
}

.buttonSettings.danger:active,
.buttonSettings.danger.active {
  border-color: #a0302a;
  border-bottom-color: #bf4843;
  background-color: #b33630;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
  background-image: -moz-linear-gradient(#b33630, #dc5f59);
  background-image: -ms-linear-gradient(#b33630, #dc5f59);
  background-image: -o-linear-gradient(#b33630, #dc5f59);
  background-image: linear-gradient(#b33630, #dc5f59);
}



.button-group {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

.buttonSettings + .buttonSettings,
.buttonSettings + .button-group,
.button-group + .buttonSettings,
.button-group + .button-group {
  margin-left: 15px;
}

.button-group li {
  float: left;
  padding: 0;
  margin: 0;
}

.button-group button:disabled,
button[disabled] {
background-color: dimgray;
}

.button-group .buttonSettings {
  float: left;
  margin-left: -1px;
}

.button-group > .buttonSettings:not(:first-child):not(:last-child),
.button-group li:not(:first-child):not(:last-child) .buttonSettings {
  border-radius: 0;
}

.button-group > .buttonSettings:first-child,
.button-group li:first-child .buttonSettings {
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group > .buttonSettings:last-child,
.button-group li:last-child > .buttonSettings {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* =============================================================================
   Button container (mixing buttons and groups, e.g., nav bar)
   ========================================================================== */

.button-container .buttonSettings,
.button-container .button-group {
  vertical-align: top;
}

.myButton {
  width: 130px;
  background-color:transparent;
  border-radius:28px;
  border:1px solid #fc0808;
  display:inline-block;
  cursor:pointer;
  color:#ff0000;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
  background-color:transparent;
  color: white;
  background-color: #fc0808;
  border:1px solid white;
}
.myButton:active {
  position:relative;
  top:1px;
}

.blue{
  border:1px solid cadetblue;
  color: cadetblue;
}

.blue:hover{
  color: white;
  background-color: cadetblue;
  border:1px solid white;
}

.green2{
   border:1px solid forestgreen;
   color: forestgreen;
 }

.green2:hover{
  border:1px solid forestgreen;
  color: white;
  background-color: forestgreen;
}

.darkred{
  border:1px solid darkred;
  color: darkred;
}

.darkred:hover{
  border:1px solid darkred;
  color: white;
  background-color: darkred;
}